<section class="main__section" id="section-contact">
	<h2 class="main__section--title">Contacto</h2>
	<article class="main__section--contact">
		<nav>
			<ul class="main__section--contact__list">
				<li>
					<a
						title="Gmail"
						href="mailto:maitaneabadconde@gmail.com"
						target="_BLANK"
						><i
							class="fa-solid fa-square-envelope main__section--contact__list--icon"
						></i>
					</a>
				</li>
				<li>
					<a
						title="Linkedin"
						href="https://www.linkedin.com/in/maitaneabadconde/"
						target="_BLANK"
						><i class="fab fa-linkedin main__section--contact__list--icon"></i>
					</a>
				</li>
				<li>
					<a
						title="Twitter"
						href="https://twitter.com/MaitaneAbad"
						target="_BLANK"
						><i
							class="fab fa-twitter-square main__section--contact__list--icon"
						></i>
					</a>
				</li>
				<li>
					<a
						title="Github"
						href="https://github.com/MaitaneAbad"
						target="_BLANK"
						><i
							class="fab fa-github-square main__section--contact__list--icon"
						></i>
					</a>
				</li>
			</ul>
		</nav>
	</article>
</section>
