<header id="header" class="header">
	<section>
		<nav id="menu">
			<ul class="header__nav">
				<li class="header__nav--list">
					<a
						class="header__nav--list__link"
						title="Sobre mí"
						href="./portfolio.html#section-aboutUs"
						>Sobre mi
					</a>
				</li>
				<li class="header__nav--list">
					<a
						class="header__nav--list__link"
						title="Proyectos"
						href="./portfolio.html#section-proyects"
						>Proyectos</a
					>
				</li>
				<li class="header__nav--list">
					<a class="header__nav--list__link" title="CV" href="./cv.html"
						>CV interactivo</a
					>
				</li>
				<li class="header__nav--list">
					<a
						class="header__nav--list__link"
						title="Tecnologías"
						href="./portfolio.html#section-technologies"
						>Tecnologías
					</a>
				</li>
				<li class="header__nav--list">
					<a
						class="header__nav--list__link"
						title="Contacto"
						href="./portfolio.html#section-contact"
						>Contacto</a
					>
				</li>
			</ul>
		</nav>
	</section>
</header>
