<header class="headerCv">
	<nav class="headerCv__nav">
		<div class="headerCv__nav--menu">
			<button class="headerCv__nav--menu__hamburguer js-hamburguer">
				<span><i class="fas fa-bars headerCv__hamburger--icon"></i></span>
			</button>
			<ul class="headerCv__nav--menu__list hidden js-menu" id="list">
				<li class="headerCv__nav--menu__list--item js-listClick">
					<a
						class="headerCv__nav--menu__list--item__link js-link"
						title="Experience"
						href="./cv.html#experience"
						>Experiencias
					</a>
				</li>
				<li class="headerCv__nav--menu__list--item js-listClick">
					<a
						class="headerCv__nav--menu__list--item__link js-link"
						title="Skills"
						href="./cv.html#skills"
						>Habilidades
					</a>
				</li>
				<li class="headerCv__nav--menu__list--item js-listClick">
					<a
						class="headerCv__nav--menu__list--item__link js-link"
						title="Portfolio"
						href="./portfolio.html"
						>Volver al portfolio
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
