.header {
	text-transform: uppercase;
	text-align: center;
	&__nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media (min-width: 550px) {
			height: 90px;
			padding: 10px;
			flex-direction: row;
			font-size: 12px;
			position: fixed;
			right: 0;
			left: 0;
			top: 0;
			background: linear-gradient(
				180deg,
				rgba(255, 255, 255, 1) 0%,
				rgba(255, 255, 255, 0) 100%
			);
			z-index: 2;
		}
		@media (min-width: 1024px) {
			font-size: $fontSizeWork;
		}
		&--list {
			margin: 3.5px 6px;
			background: #c9ebc9;
			padding: 5px;
			border-radius: 7px;
			transition: all linear 0.2s;
			&:hover {
				box-shadow: 0 4px 8px 0 rgba(132, 250, 53, 0.397),
					0 6px 20px 0 rgba(7, 7, 7, 0.74);
			}
			&__link {
				&:hover {
					color: #000;
				}
			}
		}
	}
}
